
  .chat{
    flex: 0.5;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 100px ;
    /* margin-top: -20px; */
} 
.chat_header{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.chat_channelName{
    display: flex;
    text-transform: lowercase;
}
.chat_channelName >.MuiSvgIcon-root{
    margin-left: 10px;
    font-size: 22px;
}


